*{
    margin: 0px;
    padding: 0px;
}
.elon{

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg);
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 200px;
    position: absolute;
    top: 290px;
    left: 5%;
    border-color: black;
    border: 10px solid;

}